{% extends "meme/layout.html" %}
{% load static %}

{% block title %}Meme{% endblock %}

{% block body %}
    <div id="newPost">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Post</h5>
                <form>
                    <input type="file" id="image" accept="image/png, image/jpg" required>
                    <input type="text" id="description" class="form-control" placeholder="Enter an description..." required>
                    <input type="submit" class="btn btn-primary" id="new_post">
                </form>
            </div>
        </div>    
    </div>

    <div id="profile">
        <div class="card">
            <div class="card-header">
                <div style="display: flex;">
                    <div style="flex: 1">
                        <div id="profile_username"></div>
                    </div>
                    <div style="flex: 1">
                        <span id="profile_post_amount"></span>
                        <span>posts</span>
                    </div>
                    <div style="flex: 1">
                        <span>Joined:</span>
                        <span id="profile_joined"></span>
                    </div>
                </div>        
            </div>
        </div>
    </div>

    <div id="pages" class="row justify-content-center">
        <ul id="pagination" class="pagination">
            
        </ul>
    </div>

    <div id="posts">

    </div>
{% endblock %}

{% block script %}
<script src="{% static 'meme/index.js' %}"></script>
{% endblock %}