#post-author:hover {
    cursor: pointer;
    text-decoration: underline;
}

#post-author {
    font-weight:bolder;
    font-size: 20px;
}

body {
    font-family: sans-serif;
    font-size: large;
}

#likes-row {
    justify-content: center;
}