#post-author {
    font-size: x-large;
}

body {
    font-family: sans-serif;
    font-size: large;
}

#post-author:hover {
    cursor: pointer;
    text-decoration: underline;
}

#profile_image {
    height: 200px;
}