{% extends "chess/layout.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block body %}
    <div id="newPost">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Post</h5>
                <form>
                    <input type="file" id="image" accept="image/png, image/jpg" required>
                    <input type="text" id="description" class="form-control" placeholder="Enter an description..." required>
                    <input type="submit" class="btn btn-primary" id="new_post">
                </form>
            </div>
        </div>    
    </div>

    <div id="profile">
        <div style="display: flex;">
            <div style="flex: 1">
                <img id="profile_image">
                <span id="profile_post_amount"></span>
                <span>posts</span>
                <span id="profile_bio"></span>
            </div>
            <div style="flex: 1">
                <span id="profile_username"></span>
                <button id="profile_edit" class="btn btn-primary">Edit profile</button>
            </div>
            <div style="flex: 1">
                <span>Joined at:</span>
                <span id="profile_joined"></span>
            </div>
        </div>
    </div>

    <div id="posts">

    </div>
{% endblock %}

{% block script %}
<script src="{% static 'chess/index.js' %}"></script>
{% endblock %}