{% extends "chess/layout.html" %}
{% load static %}

{% block title %}{% endblock %}

{% block body %}
    <div id="newPost">
        <h5>New Post</h5>
        <form>
            <input type="file" id="image" accept="image/png, image/jpg">
            <input type="text" id="description" class="form-control">
            <input type="submit" class="btn btn-primary">
        </form>
    </div>

    <div id="profile">
        <div style="display: flex;">
            <div style="flex: 1">
                <span id="profile_username"></span>
            </div>
            <div style="flex: 1;">
                <span id="profile_rating"></span>
                <span>rating</span>
            </div>
        </div>
    </div>

    <div id="posts">

    </div>
{% endblock %}

{% block script %}
<script src="{% static 'chess/index.js' %}"></script>
{% endblock %}